/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
button {
    background: none;
    border: none;
    cursor: pointer;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

/* Fonts */
@font-face {
    font-family: 'roboto';
    src:
        url("./assets/fonts/roboto-regular-webfont.woff2") format("woff2"),
        url("./assets/fonts/roboto-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src:
        url("./assets/fonts/roboto-bold-webfont.woff2") format("woff2"),
        url("assets/fonts/roboto-bold-webfont.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src:
        url("./assets/fonts/roboto-thin-webfont.woff2") format("woff2"),
        url("./assets/fonts/roboto-thin-webfont.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

/* My Styling */
body {
    font-family: 'roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
                Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;

    display: grid;
    grid-template: 1fr / minmax(auto, 320px) 1fr;
    grid-template-areas: 'sidebar main';

    min-height: 100vh;
    min-height: 100dvh;
}

main {
    grid-area: main;
}

aside {
    grid-area: sidebar;
}

/* Sidebar Styling */
aside {
    background-color: hsl(199, 89%, 48%);

    display: flex;
    flex-direction: column;
    gap: 25px;

    padding-top: 25px;
    font-size: 1.25rem;
    font-weight: 800;
}

aside .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;

    margin-bottom: 25px;

    font-size: 1.8rem;
    color: hsl(0, 0%, 100%);
}

aside .heading > img {
    height: 2em;
    aspect-ratio: 1 / 1;

    filter: invert(100%);
}

aside button {
    display: flex;
    align-items: center;
    gap: 11px;

    color: hsl(0, 0%, 100%);

    padding-left: 25px;
}

aside .tabs > button:hover,
aside .project-tabs > button:hover {
    background-color: hsl(199, 88%, 22%);
}

aside button > img {
    height: 1.5em;
    aspect-ratio: 1 / 1;
}

aside .tabs {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.tabs .home > img {
    filter: invert(100%);
}

.project-tabs {
    display: flex;
    flex-direction: column;
    gap: 11px;

    max-height: 58vh;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: hsl(0, 0%, 100%) hsl(199, 89%, 55%);
}

.project-tabs > *:not(.my-projects) {
    padding-left: 32px;
    font-weight: 400;
}

.project-li {
    display: flex;
    justify-content: space-between;
}

.project-li::before {
    content: url("./assets/icons/hashtag.svg");
    font-size: 1.5em;
}

.project-li:hover {
    background-color: hsl(199, 88%, 22%);
}

.project-li > .project-item {
    text-overflow: ellipsis;
    overflow: clip;
    max-width: 45%;
}

.project-btns {
    display: flex;
    justify-content: flex-end;
    gap: 5px;

    height: 100%;
}

.project-btns > .edit-project {
    background-image: url("./assets/icons/edit.svg");
}

.project-btns > .delete-project {
    background-image: url("./assets/icons/delete.svg");
}

.project-btns > * {
    background-size: 58%;
    background-position: center;
    background-repeat: no-repeat;

    height: 100%;
    aspect-ratio: 1 / 1;
}

.project-btns > .edit-project:hover,
.project-btns > .delete-project:hover {
    background-color: hsl(198, 23%, 45%);
}

/* Main Styling */
main > .home {
    height: 100%;

    display: grid;
    grid-template: auto 1fr / 1fr;
    grid-template-areas: 'header' 'main';

    padding-top: 38px;
}

.home-header {
    grid-area: header;

    display: flex;
    justify-content: center;

    font-size: 1.5rem;
}

.home-main {
    grid-area: main;

    padding-top: 38px;

    background-color: hsl(214, 32%, 91%);

    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    grid-template-areas: 'task project' 'task priority';
    gap: 35px;
}

.home-task {
    grid-area: task;

    padding-left: 35px;
    padding-bottom: 35px;

    display: flex;
    flex-direction: column;
    gap: 11px;
}

.task-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 35px;
}

.task-card {
    display: grid;
    grid-template-columns: 11px 1fr;

    border-radius: 16px;
    background-color: hsl(0, 0%, 100%);
}

.sideline {
    background-color: dodgerblue;

    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.card-content {
    display: grid;
    grid-template-rows: auto 1fr auto auto;

    padding: 11px;
}

.card-content > .task-name {
    font-weight: 800;
    text-align: start;

    overflow: hidden;
    max-height: calc(1em * 1.5);

    padding: 0px;
}

.card-content > .task-description {
    /* Prevent showing more than 8 lines */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;

    font-size: 1rem;
    color: hsl(0, 0%, 48%);
}

.card-content > .task-due-date {
    font-size: 1rem;
}

.card-content > .card-btns {
    display: flex;
    justify-content: flex-end;
    align-items: end;

    filter: invert(100%);
}

.home-prompt {
    width: fit-content;
    padding-inline: 5px;
    margin-top: 16px;
    margin-left: 16px;
    border-radius: 4px;
    font-size: 1rem;

    color: hsl(170, 100%, 64%);
    background-color: rgb(0, 0, 0);
}

.home-project {
    grid-area: project;

    padding-bottom: 35px;
    padding-right: 35px;

    display: flex;
    flex-direction: column;
    gap: 11px;
}

.home-project-list {
    display: grid;
    place-items: start;
    gap: 35px;

    padding: 32px 38px;
    /* Set height equivalent to 16 lines of text */
    height: calc(16 * 1em * 1.5);

    overflow: auto;
    scrollbar-width: auto;
    scrollbar-color: hsla(0, 0%, 0%, 0.116) hsl(0, 0%, 0%);
    
    background-color: hsl(0, 0%, 100%);

    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

@supports selector(::-webkit-scrollbar) {
    .home-project-list {
        border-radius: 25px;

        scrollbar-width: unset;
        scrollbar-color: unset;
    }
    
    .home-project-list::-webkit-scrollbar {
        width: 5px;
    }
    
    .home-project-list::-webkit-scrollbar-track {
        margin-block: 25px;
        border-radius: 25px;
        background-color: hsla(0, 0%, 0%, 0.116);
    }
    
    .home-project-list::-webkit-scrollbar-thumb {
        border-radius: 25px;
        background-color: hsl(0, 0%, 0%);
    }
}

.home-project-list > .home-prompt {
    background-color: inherit;
    color: inherit;
    font-size: inherit;

    align-self: center;
    justify-self: center;

    margin-bottom: 35px;
}

.home-project-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.home-project-item > div {
    font-size: 1rem;
    color: hsl(0, 0%, 48%);
}

.outline:not(.outline:last-child) {
    height: 2px;
    width: 100%;

    background-color: hsl(213, 27%, 84%);
}

.home-priority-tasks {
    grid-area: priority;
}