/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
button {
    background: none;
    border: none;
    cursor: pointer;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

/* Fonts */
@font-face {
    font-family: 'roboto';
    src:
        url("./assets/fonts/roboto-regular-webfont.woff2") format("woff2"),
        url("./assets/fonts/roboto-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src:
        url("./assets/fonts/roboto-bold-webfont.woff2") format("woff2"),
        url("assets/fonts/roboto-bold-webfont.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src:
        url("./assets/fonts/roboto-thin-webfont.woff2") format("woff2"),
        url("./assets/fonts/roboto-thin-webfont.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

/* My Styling */
body {
    font-family: 'roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
                Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;

    display: grid;
    grid-template: 1fr / minmax(auto, 320px) 1fr;
    grid-template-areas: 'sidebar main';

    min-height: 100vh;
    min-height: 100dvh;
}

main {
    grid-area: main;
}

aside {
    grid-area: sidebar;
}

/* Sidebar Styling */
aside {
    background-color: hsl(199, 89%, 48%);

    display: flex;
    flex-direction: column;
    gap: 25px;

    padding-top: 25px;
    font-size: 1.25rem;
    font-weight: 800;

    box-shadow: 2.7px 5.3px 14.4px rgba(0, 0, 0, 0.34),
                11px 22px 85px rgba(0, 0, 0, 0.16);
}

aside .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;

    margin-bottom: 25px;

    font-size: 1.8rem;
    color: hsl(0, 0%, 100%);
}

aside .heading > img {
    height: 2em;
    aspect-ratio: 1 / 1;

    filter: invert(100%);
}

aside button {
    display: flex;
    align-items: center;
    gap: 11px;

    color: hsl(0, 0%, 100%);

    padding-left: 25px;
}

aside .tabs > button:hover,
aside .project-tabs > button:hover {
    background-color: hsl(199, 88%, 22%);
}

aside button > img {
    height: 1.5em;
    aspect-ratio: 1 / 1;
}

aside .tabs {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.tabs .home > img {
    filter: invert(100%);
}

.project-tabs {
    display: flex;
    flex-direction: column;
    gap: 11px;

    max-height: 58vh;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: hsl(0, 0%, 100%) hsl(199, 89%, 55%);
}

.project-tabs > *:not(.my-projects) {
    padding-left: 32px;
    font-weight: 400;
}

.project-li {
    display: flex;
    justify-content: space-between;
}

.project-li::before {
    content: url("./assets/icons/hashtag.svg");
    font-size: 1.5em;
}

.project-li:hover {
    background-color: hsl(199, 88%, 22%);
}

.project-li > .project-item {
    text-overflow: ellipsis;
    overflow: clip;
    max-width: 45%;
}

.project-btns {
    display: flex;
    justify-content: flex-end;
    gap: 5px;

    height: 100%;
}

.project-btns > .edit-project {
    background-image: url("./assets/icons/edit.svg");
}

.project-btns > .delete-project {
    background-image: url("./assets/icons/delete.svg");
}

.project-btns > * {
    background-size: 58%;
    background-position: center;
    background-repeat: no-repeat;

    height: 100%;
    aspect-ratio: 1 / 1;
}

.project-btns > .edit-project:hover,
.project-btns > .delete-project:hover {
    background-color: hsl(198, 23%, 45%);
}

/* Main Styling (HOME-PAGE) */
main > .home {
    height: 100%;

    display: grid;
    grid-template: auto 1fr / 1fr;
    grid-template-areas: 'header' 'main';
}

.home-header {
    grid-area: header;
    
    display: flex;
    justify-content: center;

    padding-top: 38px;
    
    font-size: 1.5rem;

    box-shadow: 2.7px 5.3px 14.4px rgba(0, 0, 0, 0.34),
                11px 22px 85px rgba(0, 0, 0, 0.16);
    z-index: 1;
}

.home-main {
    grid-area: main;

    padding-top: 38px;

    background-color: hsl(214, 32%, 91%);

    display: grid;
    grid-template: auto auto 1fr / 2fr 1fr;
    grid-template-areas: 'task project' 'task priority' 'task .';
    gap: 35px;
}

.home-task {
    grid-area: task;

    padding-left: 35px;
    padding-bottom: 35px;

    display: flex;
    flex-direction: column;
    gap: 11px;
}

.task-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 35px;
}

.task-card {
    display: grid;
    grid-template-columns: 11px 1fr;

    border-radius: 16px;
    background-color: hsl(0, 0%, 100%);

    box-shadow: 6.4px 12.8px 12.5px rgba(0, 0, 0, 0.16),
                58px 116px 85px rgba(0, 0, 0, 0.075);
}

.sideline {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.card-content {
    display: grid;
    grid-template-rows: auto 1fr auto auto;

    padding: 11px;
}

.card-content > .task-name {
    font-weight: 800;
    text-align: start;

    overflow: hidden;
    max-height: calc(1em * 1.5);

    padding: 0px;
}

.card-content > .task-description {
    /* Prevent showing more than 8 lines */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;

    font-size: 1rem;
    color: hsl(0, 0%, 48%);
}

.card-content > .task-due-date {
    font-size: 1rem;
}

.card-content > .card-btns {
    display: flex;
    justify-content: flex-end;
    align-items: end;

    filter: invert(100%);
}

.home-prompt {
    width: fit-content;
    padding-inline: 5px;
    margin-top: 16px;
    margin-left: 16px;
    border-radius: 4px;
    font-size: 1rem;

    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 0%);
}

.home-project {
    grid-area: project;

    padding-right: 35px;

    display: flex;
    flex-direction: column;
    gap: 11px;
}

.home-project-list {
    display: grid;
    place-items: start;
    gap: 32px;

    padding: 32px 38px;
    /* Set height equivalent to 16 lines of text */
    height: calc(16 * 1em * 1.5);

    overflow: auto;
    scrollbar-width: auto;
    
    background-color: hsl(0, 0%, 100%);

    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;

    box-shadow: 6.4px 12.8px 12.5px rgba(0, 0, 0, 0.16),
                58px 116px 85px rgba(0, 0, 0, 0.075);
}

@supports selector(::-webkit-scrollbar) {
    .home-project-list {
        border-radius: 25px;
        scrollbar-width: unset;
    }
    
    .home-project-list::-webkit-scrollbar {
        width: 5px;
    }
    
    .home-project-list::-webkit-scrollbar-track {
        margin-block: 25px;
        border-radius: 25px;
        background-color: hsla(0, 0%, 0%, 0.116);
    }
    
    .home-project-list::-webkit-scrollbar-thumb {
        border-radius: 25px;
        background-color: hsl(0, 0%, 0%);
    }
}

.home-project-list > .home-prompt, .priority-task-list > .home-prompt {
    align-self: center;
    justify-self: center;

    margin-bottom: 35px;
}

.home-project-item {
    display: flex;
    flex-direction: column;
    gap: 5px;

    font-size: 1rem;
}

.home-project-item > div {
    font-size: 0.85rem;
    color: hsl(0, 0%, 48%);
}

.outline:not(.outline:last-child) {
    height: 2px;
    width: 100%;

    background-color: hsl(213, 27%, 84%);
}

.home-priority-tasks {
    grid-area: priority;

    padding-bottom: 35px;
    padding-right: 35px;

    display: flex;
    flex-direction: column;
    gap: 11px;
}

.priority-task-list {
    display: grid;
    place-items: start;
    gap: 16px;

    padding: 32px 16px;
    /* Set height equivalent to 18 lines of text */
    height: calc(18 * 1em * 1.5);

    overflow: auto;
    scrollbar-width: auto;
    
    background-color: hsl(0, 0%, 100%);

    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;

    box-shadow: 6.4px 12.8px 12.5px rgba(0, 0, 0, 0.16),
                58px 116px 85px rgba(0, 0, 0, 0.075);
}

@supports selector(::-webkit-scrollbar) {
    .priority-task-list {
        border-radius: 25px;
        scrollbar-width: unset;
    }

    .priority-task-list::-webkit-scrollbar {
        width: 5px;
    }
    
    .priority-task-list::-webkit-scrollbar-track {
        margin-block: 25px;
        border-radius: 25px;
        background-color: hsla(0, 0%, 0%, 0.116);
    }
    
    .priority-task-list::-webkit-scrollbar-thumb {
        border-radius: 25px;
        background-color: hsl(0, 0%, 0%);
    }
}

.priority-task-list .priority-task {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.priority-task-name {
    font-size: 1rem;
    text-align: justify;

    /* Limit text display within one line */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.priority-task-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    color: hsl(0, 0%, 48%);
    font-size: 0.85rem;
}

.priority-task-content > div:last-child {
    font-size: 0.8rem;
    text-align: justify;

    /* Limit text display within two lines */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.maximum, option[value="Maximum"] {
    background-color: hsl(0, 100%, 50%);
}

.high, option[value="High"] {
    background-color: hsl(39, 100%, 50%);
}

.medium, option[value="Medium"] {
    background-color: hsl(60, 100%, 74%);
}

.low, option[value="Low"] {
    background-color: hsl(172, 100%, 78%);
}

.minimum, option[value="Minimum"] {
    background-color: hsl(120, 75%, 45%);
}

.project-container {
    height: 100%;

    display: grid;
    grid-template: auto 1fr / 1fr;
    grid-template-areas: 'project-header' 'project-main';
}

.project-container img {
    filter: invert(100%);
}

.project-heading {
    grid-area: project-header;
    
    display: flex;
    justify-content: flex-start;
    gap: 16px;

    padding-top: 38px;
    padding-left: 25px;
    
    font-size: 1.5rem;

    box-shadow: 2.7px 5.3px 14.4px rgba(0, 0, 0, 0.34),
                11px 22px 85px rgba(0, 0, 0, 0.16);
    z-index: 1;
}

.project-heading img {
    height: 1.5em;
    aspect-ratio: 1 / 1;
}

.project-heading > .edit-project {
    margin-left: 38px;
}

.project-task-list {
    grid-area: project-main;
    list-style: none;

    padding: 38px;
    background-color: hsl(214, 32%, 91%);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
}

.project-task-list > .add-task {
    display: flex;
    align-items: center;
    gap: 11px;
}

.project-task {
    width: 100%;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'checkbox task';
    gap: 11px;
}

.task-complete {
    grid-area: checkbox;
    
    /* Style checkbox from scratch */
    appearance: none;
    margin: 11px 0 0 0;
    
    font: inherit;
    color: hsl(234, 100%, 27%);
    height: calc(1em * 1.5);
    width: calc(1em * 1.5);
    border: 0.2em solid currentColor;
    border-radius: 0.35em;

    /* Center the ::before content */
    display: grid;
    place-content: center;
}

.task-complete::before {
    content: "";
    width: 0.8em;
    height: 0.8em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1.25em 1.25em black;

    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.task-complete:checked::before {
    transform: scale(1);
}

.task-complete:focus {
    outline: max(2px, 0.2em) solid currentColor;
    outline-offset: max(2px, 0.2em);
}

.project-task-container {
    grid-area: task;

    background-color: hsl(0, 0%, 100%);
    box-shadow: 6.4px 12.8px 12.5px rgba(0, 0, 0, 0.16),
                58px 116px 85px rgba(0, 0, 0, 0.075);

    display: grid;
    grid-template-columns: 11px 1fr auto;
    gap: 4px;

    border-radius: 16px;

    /* Restrict container dimensions */
    overflow: hidden;
    max-height: calc(2.6 * 1em * 1.5);
    position: relative;
}

.expand-collapse {
    /* Create expand-collapse button to fully display or hide task info */
    position: absolute;
    place-self: end center;

    appearance: none;
    cursor: pointer;

    /* Display expand button when unchecked (Default state) */
    background-image: url("./assets/icons/expand.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 1.5em;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    filter: invert(100%);
}

.expand-collapse:checked {
    /* Display collapse button when checked */
    background-image: url("./assets/icons/collapse.svg");
}

.expand-collapse:hover {
    background-color: rgb(0, 0, 0);
    filter: invert(0);
}

.project-task-container:has(> .expand-collapse:not(:checked))::before {
    /* Blur text when display is collapsed */
    content: "";
    position: absolute;
    height: calc(2 * 1em * 1.5);
    width: 100%;
    bottom: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent, white);
}

.project-task-container:has(> .expand-collapse:checked) {
    /* Display full task container by removing max-height restriction */
    max-height: none;
}

.project-task-container > .task {
    place-self: start;
    text-align: start;

    display: flex;
    flex-direction: column;
    gap: 4px;

    padding-bottom: 11px;
    padding-right: 8px;
}

.project-task-container > .task > div:first-child {
    font-weight: 800;
}

.project-task-container > .task > div:last-child {
    font-size: 1rem;
}

.task-complete:checked + .project-task-container .task > * {
    /* Strikethrough task name & description if task checked complete */
    text-decoration: line-through double hsl(0, 0%, 0%) from-font;
}

.project-task-container > .task-utility {
    display: flex;
    flex-direction: column;
    gap: 11px;

    padding-bottom: 11px;
    padding-right: 8px;
}

.task-utility > *:not(:first-child) {
    display: flex;
    flex-direction: column;
}

.task-utility > div:first-child {
    display: flex;
    gap: 8px;
    margin-bottom: 25px;
    padding-top: 5px;
}

.task-utility-heading {
    font-weight: 800;
}

.task-utility-heading + div:has(img) {
    display: flex;
    align-items: center;
    gap: 4px;
}

.task-utility > *:not(:first-child) img {
    filter: invert(0%);

    height: 1em;
    aspect-ratio: 1 / 1;
}

.task-complete:checked 
+ .project-task-container .task-utility 
> div:nth-child(even):not(:last-child) 
> div:last-child {
    /* Strikethrough task due-date if task checked complete */
    text-decoration: line-through double hsl(0, 0%, 0%) from-font;
}

.task-utility .task-status {
    display: flex;
    gap: 5px;
}

.task-complete + .project-task-container .task-status > div:first-child {
    /* Show active icon to indicate task is unchecked & pending */
    background-image: url("./assets/icons/active.svg");
}

.task-complete:checked + .project-task-container .task-status > div:first-child {
    /* Show inactive icon to indicate task is checked & complete */
    background-image: url("./assets/icons/inactive.svg");
}

.task-utility .task-status > div:first-child {
    background-repeat: no-repeat;
    background-size: contain;
    height: 1.5em;
    aspect-ratio: 1 / 1;
}

.task-utility .task-status > div:last-child {
    display: grid;
    place-content: start center;
}

.task-complete + .project-task-container .task-status > div:last-child::after {
    content: "Active";
}

.task-complete:checked + .project-task-container .task-status > div:last-child::after {
    content: "Complete";
    width: 100%;
}

.task-complete:checked + .project-task-container .sideline {
    background-color: hsl(0, 0%, 36%);
}

.task-complete:checked + .project-task-container {
    background-color: hsla(0, 0%, 100%, 0.592);
}

main > .my-projects {
    height: 100%;

    display: grid;
    grid-template: auto 1fr / 1fr;
    grid-template-areas: 'my-projects-header' 'my-projects-main';
}

main > .my-projects > .my-projects-header {
    grid-area: my-projects-header;

    display: flex;
    justify-content: flex-start;
    
    padding-top: 38px;
    padding-left: 25px;

    font-size: 1.5rem;

    box-shadow: 2.7px 5.3px 14.4px rgba(0, 0, 0, 0.34),
                11px 22px 85px rgba(0, 0, 0, 0.16);
    z-index: 1;
}

.project-list {
    grid-area: my-projects-main;

    background-color: hsl(214, 32%, 91%);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 38px;
}

.project-list .add-project {
    display: flex;
    align-items: center;
    gap: 11px;

    padding: 25px 38px;

    width: 100%;
}

.project-list .add-project > img {
    filter: invert(100%);
}

.project-list .project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 16px 38px;
    width: 100%;
}

.project-list .project:first-child {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.project-list .project:has(+ .add-project) {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.project-list .project:nth-child(even) {
    background-color: hsl(0, 16%, 85%);
}

.project-list .project:nth-child(even):hover {
    background-color: hsla(0, 16%, 85%, 0.637);
    filter: brightness(58%);
}

.project-list .project:nth-child(odd) {
    background-color: hsl(0, 0%, 100%);
}

.project-list .project:nth-child(odd):hover {
    background-color: hsl(0, 0%, 100%, 0.637);
    filter: brightness(58%);
}

.project-list .project > div:first-child {
    font-weight: 800;
}

.project-list .project > div:last-child {
    display: flex;
    align-items: center;
    gap: 25px;
}

.project-list .project button {
    background-size: 1.5em 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(100%);

    height: 2.25em;
    aspect-ratio: 1 / 1;
    border-radius: 16px;
}

.project-list .project button:hover {
    background-color: hsl(258, 75%, 43%);
    filter: invert(0%);
}

.project-list .edit-project {
    background-image: url("./assets/icons/edit-fill0.svg");
}

.project-list .delete-project {
    background-image: url("./assets/icons/delete-fill0.svg");
}

/* Styling Modal */
dialog {
    margin: auto;
    border: none;
    width: max(38%, 50ch);

    border-radius: 25px;
    box-shadow: 2.7px 5.3px 14.4px rgba(0, 0, 0, 0.34),
                11px 22px 85px rgba(0, 0, 0, 0.16);
}

dialog::backdrop {
    background-color: hsla(0, 0%, 0%, 0.385);
}

dialog textarea {
    resize: none;
    border: none;
    outline: none;
}

.add-task-modal > form, .edit-task-modal > form {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 1fr 1.8fr repeat(3, 0.4fr);
    gap: 25px;
}

.add-task-modal .form-element, .edit-task-modal .form-element {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

textarea {
    height: 100%;
    width: 100%;
    overflow: auto;
    text-align: justify;
}

.add-task-modal #task-name, 
.add-task-modal #task-name::placeholder, 
.edit-task-modal #task-name {
    font-weight: 800;
}

.add-task-modal #description, .edit-task-modal #description {
    font-size: 1rem;
}

.add-task-modal label, .edit-task-modal label {
    font-size: 1rem;
    font-weight: 800;
}

dialog button {
    border-radius: 16px;
}

dialog button:not(:disabled):hover {
    filter: brightness(68%);
}

.add-task-modal .submit-task {
    background-color: hsl(32, 100%, 50%);
    color: hsl(0, 0%, 100%);
}

.add-task-modal .submit-task:disabled {
    background-color: hsla(32, 100%, 50%, 0.664);
    cursor: not-allowed;
}

.cancel-btn {
    background-color: hsl(0, 0%, 78%);
}

.add-project-modal > form, .edit-project-modal > form {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 2fr repeat(2, 0.2fr);
    gap: 25px;
}

dialog input {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: justify;
}

.add-project-modal #project-name::placeholder, 
.add-project-modal #project-name, 
.edit-project-modal #project-name {
    font-weight: 800;
}

.add-project-modal .submit-project {
    background-color: hsl(32, 100%, 50%);
    color: hsl(0, 0%, 100%);
}

.add-project-modal .submit-project:disabled {
    background-color: hsla(32, 100%, 50%, 0.664);
    cursor: not-allowed;
}

.modify-btn {
    background-color: hsl(78, 82%, 52%);
}